body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Top of the website */
.header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: right;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.logo{
    margin-right: auto;
    font-weight: bold;
}

.logo, .link{
    padding: 30px;
}

.link{
    display: flex;
    gap: 10px;
    font-weight: lighter;
}

.header, .middle.lvl1, .footer{
    background-color: #1F2937;
}

.middle {
    display: flex;
    flex-direction: column;
}

/* level 1 body */
.middle.lvl1{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    justify-content: center;
    padding-bottom: 90px;
}
.txt{
    width: 400px;
}
.middle.lvl1 img{
    width: 400px;
}
.txt div:first-child{
    font-size: 30px;
    margin-bottom: 5px;
}
.txt div:nth-child(2){
    font-size: 15px;
    font-weight: lighter;
    margin-bottom: 5px;
}
.txt button{
    margin-top: 10px;
    font-size: 18px;
    color: #E5E7EB;;
    background-color: #3882F6;
}

/* lvl 2 body */
.middle.lvl2 #h1{
    margin: 20px;
    font-size: 26px;
    font-weight: bold;
    color: #1F2937;
    display: flex;
    justify-content: center;
}
.container {
    display: flex;
    justify-content: center;
    flex: 1 1 auto;
    gap: 30px;
    margin-bottom: 90px;
}
.info{
    max-width: 100px;
}
.box{
    width: 20px;
    border: 1px solid green;
    border-radius: 20px;
    padding: 40px;
}



/* footer */
.footer{
    display: flex;
    margin-top: auto;
    justify-content: center;
    align-items: center;
}
