body {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: row;
    font-size: 18px;
    color: #E5E7EB;
    justify-content: right;
}

.logo{
    margin-right: auto;
}

.logo, .link{
    padding: 30px;
}

.header, .middle.lvl1, .footer{
    background-color: #1F2937;
}